# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

node_modules

# Environment variables
.env
.env.local
